<!DOCTYPE HTML>
<html lang="{{ page.language }}">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	{% include head-meta.html %}
</head>

<body id="{{ page.layout }}">

<div id="wrap">

	<div data-picture data-alt="Lorem ipsum dolor sit amut.">
		<div data-src="img/test320.jpg"></div>
		<div data-src="img/test320_x2.jpg" data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test480.jpg" data-media="(min-width: 480px)"></div>
		<div data-src="img/test480_x2.jpg" data-media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test768.jpg" data-media="(min-width: 768px)"></div>
		<div data-src="img/test768_x2.jpg" data-media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1024.jpg" data-media="(min-width: 1024px)"></div>
		<div data-src="img/test1024_x2.jpg" data-media="(min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1200.jpg" data-media="(min-width: 1200px)"></div>
		<div data-src="img/test1200_x2.jpg" data-media="(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1600.jpg" data-media="(min-width: 1600px)"></div>
		<div data-src="img/test1600_x2.jpg" data-media="(min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
		<noscript>
		  <img src="img/test320.jpg" alt="Lorem ipsum dolor sit amut.">
		</noscript>
	</div>

	<div id="content">
	{{ content }}
	</div>
	
	<div id="footer">
		<i></i>
	</div>

</div>

{% include js.html %}

</body>

</html>
