<!DOCTYPE HTML>
<html lang="{{ page.language }}">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	{% include head-meta.html %}
</head>

<body id="{{ page.layout }}">

<div id=wrap>

<!--
	<div data-picture data-alt="Lorem ipsum dolor sit amut.">
		<div data-src="img/test320.jpg"></div>
		<div data-src="img/test320_x2.jpg" data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test480.jpg" data-media="(min-width: 480px)"></div>
		<div data-src="img/test480_x2.jpg" data-media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test768.jpg" data-media="(min-width: 768px)"></div>
		<div data-src="img/test768_x2.jpg" data-media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1024.jpg" data-media="(min-width: 1024px)"></div>
		<div data-src="img/test1024_x2.jpg" data-media="(min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1200.jpg" data-media="(min-width: 1200px)"></div>
		<div data-src="img/test1200_x2.jpg" data-media="(min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
		<div data-src="img/test1600.jpg" data-media="(min-width: 1600px)"></div>
		<div data-src="img/test1600_x2.jpg" data-media="(min-width: 1600px) and (-webkit-min-device-pixel-ratio: 2.0)"></div>
-->
		<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
<!--

		<noscript>
		  <img src="img/test320.jpg" alt="Lorem ipsum dolor sit amut.">
		</noscript>
	</div>
-->

	<div id=content>
	{{ content }}
	</div>

	<nav id=search-nav>
		<ul>
			<li class=search-nav-catalog><a href=""><i class="icon-search"></i> Suche: in Katalogen</a><a href=""><i class=icon-remove></i></a>
				<form>
					<input type="text" />
					<button>Suchen</button>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-guk /> <label for=search-nav-catalog-guk>GUK<br /><a href="">Göttinger Universitäts<wbr />katalog</a></label>
					</span>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-gvk /> <label for=search-nav-catalog-gvk>GVK<br /><a href="">Gemeinsamer Verbundkatalog</a></label>
					</span>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-gvkplus /> <label for=search-nav-catalog-gvkplus>GVK-PLUS<br />mit <a href="">Online Contents</a></label>
					</span>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-ezb /> <label for=search-nav-catalog-ezb>EZB<br /><a href="">Elektronische Zeitschriften</a></label>
					</span>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-debis /> <label for=search-nav-catalog-debis>DEBIS<br /><a href="">Datenbanken</a></label>
					</span>
					<span class="input">
						<input type="radio" name=search-nav-catalog id=search-nav-catalog-journals /> <label for=search-nav-catalog-journals>Aufsätze und elektr. Volltexte</label>
					</span>
				</form>
				<a href="" class=clean-link><i class="icon-caret-right"></i>Weitere Sucheinstiege & Recherchetipps</a>
			<li class=search-nav-discipline><a href=""><i class="icon-search"></i> Suche: nach Fächern</a><a href=""><i class=icon-chevron-down></i></a>
				<form>
					<input type="text" placeholder="comp" />
					<button>Suchen</button>
				</form>
				<ul>
					<li><a href=""></i>Geisteswissenschaften und Theologie</a>
						<ul>
							<li><a href="">General Linguistics and Literary Studies</a><br />diachronic and historical/<span class=highlight>comp</span>arative linguistics
							<li><a href="">Archaeology / Prehistory and Early History</a><br /><span class=highlight>Comp</span>arative linguistics, <span class=highlight>Comp</span>arative literary criticism, <span class=highlight>Comp</span>arative literary history
							<li><a href="">Music</a><br />Theory of <span class=highlight>Comp</span>osition
						</ul>
					<li><a href=""></i>Naturwissenschaften, Mathematik und Informatik</a>
						<ul>
							<li><a href="">Geographie</a><br /><span class=highlight>Comp</span>uterkartographie
							<li><a href="">Informatik</a><br /><span class=highlight>Comp</span>uteralgebra, <span class=highlight>Comp</span>utergraphik
							<li><a href="">Technik</a><br /><span class=highlight>Comp</span>utersimulation
						</ul>
					<li><a href=""></i>Rechts-, Wirtschafts- und Sozialwissenschaften</a>
						<ul>
							<li><a href="">Rechtswissenschaften</a><br /><span class=highlight>Comp</span>uterrecht
						</ul>
					<li><a href=""></i>Medizin</a>
					<li><a href=""></i>Sammlungen & Historische Bestände</a>
				</ul>
			<li class=search-nav-website><a href=""><i class="icon-search"></i> Suche: auf der Website</a><a href=""><i class=icon-chevron-down></i></a>
				<form>
					<input type="text" placeholder="los" />
					<button>Suchen</button>
					<ul>
						<li><a href="">lossau (11)</a>
						<li><a href="">los (2)</a>
						<li><a href="">loseblattausgaben (2)</a>
						<li><a href="">lost (2)</a>
					</ul>
				</form>
		</ul>
	</nav>

	<nav id=page-nav>
		<ul>
			<li class=without-subitem><a href="">SUB Aktuell</a>
			<li><a href="">Neu hier?</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class=second-level>
					<li><a href="">Planen Sie Ihren Besuch</a>
					<li><a href="">Lernen Sie die SUB kennen</a>
					<li><a href="">Zentrale Information</a>
					<li><a href="">Anmeldung</a>
					<li><a href="">Internetzugang</a>
					<li><a href="">Informationsbroschüren</a>
					<li><a href="">Benutzungs- & Gebührenordnung</a>
				</ul>
			<li><a href="">Kontakt</a><a href=""><i class=icon-remove></i></a>
				<ul class=second-level>
					<li><a href="">Adressen</a>
					<li><a href="">Information & Beratung</a>
					<li><a href="">Ausleihe</a>
					<li><a href="">Frag die SUB</a>
					<li><a href="">Ihre Meinung</a>
					<li><a href="">Weitere Kontakte für...</a>
					<li><a href="">Abteilungen A-Z</a>
					<li><a href="">Personen A-Z</a>
				</ul>
			<li><a href="">Standorte & Raumangebote</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Standorte mit Öffnungszeiten</a>
					<li><a href="">Räume buchen</a>
				</ul>
			<li><a href="">Ausleihen & Verlängern</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Ausleihen vor Ort & Verlängern</a>
					<li><a href="">Fernleihe & Dokmentlieferung</a>
					<li><a href="">Benutzerkonten</a>
					<li><a href="">Erwerbungsvorschläge</a>
				</ul>
			<li><a href="">Kopieren & Digitalisieren</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Kopieren</a>
					<li><a href="">Drucken</a>
					<li><a href="">Digitalisieren & Scannen</a>
					<li><a href="">Göttinger Digitalisierungszentrum</a>
				</ul>
			<li><a href="">Fachinformation</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Geisteswissenschaften und Theologie</a>
					<li><a href="">Naturwissenschaften, Matehmatik und Informatik</a>
					<li><a href="">Rechts-, Wirtschafts- und Sozialwissenschaften</a>
					<li><a href="">Medizin</a>
				</ul>
			<li><a href="">Sammlungen & Historische Bestände</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Handschriften und Nachlässe</a>
					<li><a href="">Inkunabeln und Seltene Drucke</a>
					<li><a href="">Alte Drucke (1501-1900</a>
					<li><a href="">Sonderbestände</a>
					<li><a href="">Kartensammlung</a>
					<li><a href="">Universitätsarchiv Göttingen</a>
				</ul>
			<li><a href="">Elektronisches Publizieren</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Publizieren</a>
					<li><a href="">Universitätsverlag Göttingen</a>
					<li><a href="">Open Access</a>
				</ul>
			<li><a href="">Lernen & Lehren</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Schulungsangebote</a>
					<li><a href="">Einzel- & Grupenarbeitsplätze</a>
					<li><a href="">Lehrbücher & Semesterapprate</a>
					<li><a href="">Multimedia-Produktion</a>
				</ul>
			<li><a href="">Projekte & Forschung</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Projekte A-Z</a>
					<li><a href="">Forschung & Entwicklung</a>
				</ul>
			<li><a href="">Spenden & Fördern</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Warum spenden und fördern</a>
					<li><a href="">Unsere Förderinnen und Förderer</a>
					<li><a href="">Aktion Buchpatenschaft</a>
					<li><a href="">Aktion Regalbodenspende</a>
				</ul>
			<li><a href="">Wir über uns</a><a href=""><i class=icon-chevron-down></i></a>
				<ul class="second-level">
					<li><a href="">Portait</a>
					<li><a href="">Stellenangebote & Ausbildung</a>
					<li><a href="">Ausstellungen</a>
					<li><a href="">Öffentliche Veranstaltungen</a>
				</ul>
			<li class=without-subitem><a href="">SUB A-Z</a>
		</ul>
	</nav>

	<footer>

		<section id=footer>
			<ul>
				<li><a href="">Webseitensuche</a>
				<li><a href="">Letze Änderungen</a>
				<li><a href="">Sitemap</a>
				<li><a href="">Kontakt</a>
				<li><a href="">Impressum</a>
			</ul>
			<ul>
				<li><a href="">Zurück zum Seitenanfang</a>
				<li><a href="">Feedback</a>
				<li><a href="">Short URL</a>
			</ul>
		</section>

		<div id=bottom>
			<section>
				<header>
					<h2>Ressourcen</h2>
				</header>
				<ul>
					<li><a href="">Literatursuche</a>
					<li><a href="">KVK Karlsruher Katalog</a>
					<li><a href="">ZDB - Zeitschriftendatenbank</a>
					<li><a href="">OLC - Online Contents</a>
					<li><a href="">GoeScholar</a>
					<li><a href="">open-access.net</a>
				</ul>
			</section>
			<section>
				<header>
					<h2>SUB Göttingen</h2>
				</header>
				<ul>
					<li><a href="">Benutzerkonten</a>
					<li><a href="">Öffnungzeiten</a>
					<li><a href="">Bücherwunsch für Studierende</a>
					<li><a href="">Erwerbungsvorschläge</a>
					<li><a href="">Schulungsangebote</a>
					<li><a href="">SUB @ Facebook</a>
					<li><a href="">Ihre Meinung</a>
					<li><a href="">Frag die SUB</a>
				</ul>
			</section>
			<section>
				<header>
					<h2>Universität Göttingen</h2>
				</header>
				<ul>
					<li><a href="">Universität Göttingen</a>
					<li><a href="">UniVZ</a>
					<li><a href="">eCampus mit Stud.IP</a>
					<li><a href="">studIT</a>
					<li><a href="">Gesamtübersicht Göttinger Bibliotheken</a>
					<li><a href="">Mensa-Speisepläne</a>
					<li><a href="">GWDG</a>
				</ul>
			</section>
			<section>
				<header>
					<h2>Stadt Göttingen</h2>
				</header>
				<ul>
					<li><a href="">Informationen zur Stadt Göttingen</a>
					<li><a href="">Stadtplan</a>
					<li><a href="">Verkehrsverbindungen</a>
					<li><a href="">studieren-in-goettingen.de</a>
				</ul>
			</section>
		</div>

	</footer>

</div>

{% include js.html %}

</body>

</html>
